body{
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
}
button{
  backround-color: #4CAFA50;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
